body {
	perspective: 1200px;
}

WebApp > header {
	transform-origin: 100% 25px;
	transition: all 1s ease-out;
}
	WebApp > header.uncollapsed {
		transform: rotateZ( 0% );
		opacity: 1;
	}
	WebApp > header.collapsed {
		transform: rotateX( 436deg );
		opacity: 0;
	}