Menu {
	position: absolute;
	width: 75%;
	height: 100%;
	padding: 0;
	margin: 0;
	
	/* overflow-y: scroll; */
	-webkit-transition: all 0.3s ease-out;
	-webkit-transform-origin-x: 0%;
}
Menu[side=left] { left: 0; }
Menu[side=right] { right: 0; }

scroller { display: block; /* overflow-y: scroll; */ overflow: scroll;         -webkit-overflow-scrolling: touch;}
Menu.close {
	visibility: hidden;
	transform: translate(-20%);
	-o-transform: translate(-20%);
	-ms-transform: translate(-20%);
	-moz-transform: translate(-20%);
	-webkit-transform: translate(-20%);
}
	Menu[side=right].close {
		transform: translate(20%);
		-o-transform: translate(20%);
		-ms-transform: translate(20%);
		-moz-transform: translate(20%);
		-webkit-transform: translate(20%);
	}
	Menu header {
		
	}
		Menu header h2 {
			margin: 0;
			padding: 0;
			display: inline-block;
			margin: 0;
			font-size: 20px;
		}
	Menu ScrollPane {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	Menu ul {
		margin: 0;
		padding: 0;
	}
		
		Menu li {
			list-style: none;
			width: 100%;
			display: block;
		}
		Menu li.title {}
		Menu li.enabled {}

